@{
    Layout = "_MyLayout";
}    



    <!-- MAIN BODY WITH SIX PIZZA CARDS-->
    <div class="container" >
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">            
                <div class="card m-3">
                    <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">La Regina</li>
                        <li class="list-group-item">Pizza Description</li>
                    </ul>
                    <div class="card-footer">
                        10,00
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img src="~/img/ananas.jpg" class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">La Bestemmia</li>
                        <li class="list-group-item">Pizza Description</li>
                    </ul>
                    <div class="card-footer">
                        ---
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img src="~/img/diavolaStracciatella.jpg" class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">La Diavola&Stracciatella</li>
                        <li class="list-group-item">Pizza Description</li>
                    </ul>
                    <div class="card-footer">
                        14,00
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img src="~/img/boscaiola.jpg" class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">La Boscaiola?</li>
                        <li class="list-group-item">Pizza Description</li>
                    </ul>
                    <div class="card-footer">
                        12,00
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img src="~/img/quattroFormaggi.jpg" class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">La Quattro Formaggi</li>
                        <li class="list-group-item">Pizza Description</li>
                    </ul>
                    <div class="card-footer">
                        13,00
                    </div>
                </div>
             </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img src="~/img/bresaolaRucola.jpg" class="card-img-top" alt="...">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">La Fitness</li>
                        <li class="list-group-item">Pizza Description</li>
                    </ul>
                    <div class="card-footer">
                        14,00
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER-->
 



